/**
 * Button styles
 * Loads on front end and back end
 */

 .wc-block-button {
	margin: 0 0 1.2em 0;
	position: relative;

	.blocks-rich-text {
		display: inline-flex;
	}

	.components-autocomplete {
		display: inline-block;
		width: auto;
		margin: 0 auto;
		position: relative;
	}

	.lvpa-button {
		text-align: center;
		font-size: 18px;
		line-height: 1 !important;
		background-color: #32373c;
		border: none;
		border-radius: 50px;
		box-shadow: none;
		color: #fff;
		cursor: pointer;
		padding: .6em 1em;
		text-decoration: none;
		word-break: break-word;
		transition: .3s ease;
		display: inline-block;

		&:hover {
			box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.15);
		}
	}

	.lvpa-button-shape-square {
		border-radius: 0;
	}

	.lvpa-button-shape-rounded {
		border-radius: 5px;
	}

	.lvpa-button-shape-circular {
		border-radius: 100px;
	}

	.lvpa-button-size-small {
		font-size: 14px;
	}

	.lvpa-button-size-medium {
		font-size: 20px;
	}

	.lvpa-button-size-large {
		font-size: 26px;
		padding: .8em 1.2em;
	}

	.lvpa-button-size-extralarge {
		font-size: 34px;
		padding: .8em 1.2em;
	}
}

.lvpa-button-right {
	transform: translateX(-100%);
	left: 100%;
	position: relative;
}

.lvpa-button-center {
	margin: 0 auto;
}